<a href="https://colab.research.google.com/github/fuyodoru/think-like-python/blob/main/CP_Excersises_1_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
round(42.5)

42

In [ ]:
round(43.5)

44

In [ ]:
a=float(input("how many years do you want to convert to seconds?"))
converter = a*365*24*60*60
print(a, "years are", converter, "seconds")

how many years do you want to convert to seconds?1
1.0 years are 31536000.0 seconds

In [ ]:
b = float(int(input("how many seconds do you want to conver to years?")))
converter2 = b/(365*24*60*60)
print(b , "seconds are", converter2, "years")

how many seconds do you want to conver to years?1000000000000
1000000000000.0 seconds are 31709.791983764586 years

In [ ]:
#name, surname, country, city, street, number, postal code.
name = input("what's your name?")
surname = input("what's your surname?")
country = input("what's the country you live in?")
city = input("which city do you live in?")
street = input("what's the name of your street?")
number = input("what's your house number?")
postal_code = input("what's your postal code?")
print("Your adress is:", name, surname + ",", country + ",", city + ",", street + ",", number + ",", postal_code)

what's your name?asli ezgi
what's your surname?cil
what's the country you live in?a
which city do you live in?a
what's the name of your street?
what's your house number?
what's your postal code?a
Your adress is: asli ezgi cil, a, a, , , a

In [ ]:
-4

-4

In [ ]:
+2

2

In [ ]:
2++2

4

In [ ]:
#765, 2.718, '2 pi', abs(-7), abs(-7.0), abs, int, type
type(abs) #my guess is builtin_function_or_method
type(type) #my guess is type
type(int) #type

type

In [ ]:
#How many seconds are there in 42 minutes 42 seconds?
minutes = int(input("how many minutes do you want to conver to seconds"))
seconds = int(input("how many seconds do you want to conver to seconds"))
total_seconds = (minutes * 60) + seconds
print("There are", total_seconds, "seconds in", minutes, "minutes and", seconds, "seconds.")

how many minutes do you want to conver to seconds42
how many seconds do you want to conver to seconds42
There are 2562 seconds in 42 minutes and 42 seconds.

In [ ]:
#How many miles are there in 10 kilometers? Hint: there are 1.61 kilometers in a mile.
km_to_miles = int(input("how many kms do you want to conver to kilometers"))
print(miles, "miles is", (km_to_miles*1.61), "kilometers")

how many kms do you want to conver to kilometers10
10 miles is 16.1 kilometers

In [ ]:
#If you run a 10 kilometer race in 42 minutes 42 seconds, what is your average pace in seconds per mile?
# 10 kilometers is approximately 6.21371 miles (10 / 1.61)
distance_miles = 10 / 1.61

# 42 minutes and 42 seconds is 42*60 + 42 = 2562 seconds
time_seconds = 2562

# Pace in seconds per mile
pace_seconds_per_mile = time_seconds / distance_miles

print("Your average pace is", pace_seconds_per_mile, "seconds per mile")

Your average pace is 412.482 seconds per mile

In [ ]:
import math

In [ ]:
math.pi

3.141592653589793

In [ ]:
int('101', 5)

26

In [ ]:
# This cell tells Jupyter to provide detailed debugging information
# when a runtime error occurs. Run it before working on the exercises.

%xmode Verbose

Exception reporting mode: Verbose

In [ ]:
 x = y = 1

In [ ]:
#4/3pi*r**3
radius = 5 #radius is in centimeter
volume = (4/3) * math.pi * (radius**3)
print(volume)

523.5987755982989

In [ ]:
rule = math.cos(x)**2 + math.sin(x)**2
x=int(input( "give me an x"))
if rule==1:
    print("The result was", rule, "The rule is true")
else:
    print("The result was", rule,"The rule is false")

give me an x42
The result was 1.0 The rule is true

In [ ]:
math.e**2

7.3890560989306495

In [ ]:
math.pow(math.e, 2)

7.3890560989306495

In [ ]:
math.exp(2)

7.38905609893065

In [ ]:
def batman():
  return "I am Batman ( ◡̀_◡́)ᕤ"

In [ ]:
def print_twice(string):
    print(string)
    print(string)

In [ ]:
print_twice(batman())

I am Batman ( ◡̀_◡́)ᕤ
I am Batman ( ◡̀_◡́)ᕤ

In [ ]:
line = "batman, shadow of the nights"
print_twice(line)

batman, shadow of the nights
batman, shadow of the nights

In [ ]:
def repeat(word, n):
  print(word * n)

In [ ]:
batman = "batman, "
def first_two_lines():
    (repeat(batman, 4))
    (repeat(batman, 4))

In [ ]:
first_two_lines()

batman, batman, batman, batman,
batman, batman, batman, batman,

In [ ]:
def last_three_lines():
    repeat(batman, 2)
    print('(Lovely batman, Wonderful batman!)')
    repeat(batman, 2)

In [ ]:
last_three_lines()

batman, batman,
(Lovely batman, Wonderful batman!)
batman, batman,

In [ ]:
def print_verse():
    first_two_lines()
    last_three_lines()
print_verse()

batman, batman, batman, batman,
batman, batman, batman, batman,
batman, batman,
(Lovely batman, Wonderful batman!)
batman, batman,

In [ ]:
for i in range(2):
  print("Verse", i)
  print_verse()

Verse 0
batman, batman, batman, batman,
batman, batman, batman, batman,
batman, batman,
(Lovely batman, Wonderful batman!)
batman, batman,
Verse 1
batman, batman, batman, batman,
batman, batman, batman, batman,
batman, batman,
(Lovely batman, Wonderful batman!)
batman, batman,

In [ ]:
n=3
def print_n_verses(n):
    for i in range(n):
        print_verse()

In [ ]:
# Call the function to print 3 verses
print_n_verses(3)

batman, batman, batman, batman,
batman, batman, batman, batman,
batman, batman,
(Lovely batman, Wonderful batman!)
batman, batman,
batman, batman, batman, batman,
batman, batman, batman, batman,
batman, batman,
(Lovely batman, Wonderful batman!)
batman, batman,
batman, batman, batman, batman,
batman, batman, batman, batman,
batman, batman,
(Lovely batman, Wonderful batman!)
batman, batman,

In [ ]:
def repeat(text, count):
    if count <= 0:
        return

    print(text)
    # The function calls itself to print the remaining repetitions
    repeat(text, count - 1)

print("Example 1")
repeat("Hello!", 3)

print("\nExample 2")
repeat("Python is fun.", 5)

print("\nExample 3")
repeat("Invisible", 0)

print("\nExample 4")
repeat("Error", -2)

print("\nExample 5")
repeat("Only once", 1)

Example 1
Hello!
Hello!
Hello!

Example 2
Python is fun.
Python is fun.
Python is fun.
Python is fun.
Python is fun.

Example 3

Example 4

Example 5
Only once

In [ ]:
#Write a function named print_right that takes a string named text as a parameter and prints the string with enough leading spaces,
#that the last letter of the string is in the 40th column of the display.

def print_right(string):
  a=len(string)
  b=40-a
  print(" "*b, string)
print_right("Monty")
print_right("Python's")
print_right("Flying Circus")

                                    Monty
                                 Python's
                            Flying Circus

triangle('L', 5)
L
LL
LLL
LLLL
LLLLL

In [ ]:
def triangle(word, n):
  for i in range(n+1):
    print(word*i)
triangle("L", 5)

L
LL
LLL
LLLL
LLLLL

rectangle('H', 5, 4)
HHHHH
HHHHH
HHHHH
HHHHH

In [ ]:
def rectangle(word, n, j):
  for i in range(n+1):
    print(word*j)

In [ ]:
rectangle("h",4,5)

hhhhh
hhhhh
hhhhh
hhhhh
hhhhh

3.11.5. Exercise
The song “99 Bottles of Beer” starts with this verse:

99 bottles of beer on the wall
99 bottles of beer
Take one down, pass it around
98 bottles of beer on the wall

Then the second verse is the same, except that it starts with 98 bottles and ends with 97. The song continues – for a very long time – until there are 0 bottles of beer.

Write a function called bottle_verse that takes a number as a parameter and displays the verse that starts with the given number of bottles.

Hint: Consider starting with a function that can print the first, second, or last line of the verse, and then use it to write bottle_verse.

Use this function call to display the first verse.

bottle_verse(99)
99 bottles of beer on the wall
99 bottles of beer
Take one down, pass it around
98 bottles of beer on the wall
If you want to print the whole song, you can use this for loop, which counts down from 99 to 1. You don’t have to completely understand this example—we’ll learn more about for loops and the range function later.

for n in range(99, 0, -1):
    bottle_verse(n)
    print()

In [ ]:
def bottle_verse(n):
  word_plural = "bottle" if n == 1 else "bottles"
  print(f"{n} {word_plural} of beer on the wall")
  print(f"{n} {word_plural} of beer")
  print("Take one down, pass it around")
  print(f"{n-1} {word_plural} of beer on the wall")
for n in range(99, 0, -1):
    bottle_verse(n)
    print()

99 bottles of beer on the wall
99 bottles of beer
Take one down, pass it around
98 bottles of beer on the wall

98 bottles of beer on the wall
98 bottles of beer
Take one down, pass it around
97 bottles of beer on the wall

97 bottles of beer on the wall
97 bottles of beer
Take one down, pass it around
96 bottles of beer on the wall

96 bottles of beer on the wall
96 bottles of beer
Take one down, pass it around
95 bottles of beer on the wall

95 bottles of beer on the wall
95 bottles of beer
Take one down, pass it around
94 bottles of beer on the wall

94 bottles of beer on the wall
94 bottles of beer
Take one down, pass it around
93 bottles of beer on the wall

93 bottles of beer on the wall
93 bottles of beer
Take one down, pass it around
92 bottles of beer on the wall

92 bottles of beer on the wall
92 bottles of beer
Take one down, pass it around
91 bottles of beer on the wall

91 bottles of beer on the wall
91 bottles of beer
Take one down, pass it around
90 bottles of beer on the wall

90 bottles of beer on the wall
90 bottles of beer
Take one down, pass it around
89 bottles of beer on the wall

89 bottles of beer on the wall
89 bottles of beer
Take one down, pass it around
88 bottles of beer on the wall

88 bottles of beer on the wall
88 bottles of beer
Take one down, pass it around
87 bottles of beer on the wall

87 bottles of beer on the wall
87 bottles of beer
Take one down, pass it around
86 bottles of beer on the wall

86 bottles of beer on the wall
86 bottles of beer
Take one down, pass it around
85 bottles of beer on the wall

85 bottles of beer on the wall
85 bottles of beer
Take one down, pass it around
84 bottles of beer on the wall

84 bottles of beer on the wall
84 bottles of beer
Take one down, pass it around
83 bottles of beer on the wall

83 bottles of beer on the wall
83 bottles of beer
Take one down, pass it around
82 bottles of beer on the wall

82 bottles of beer on the wall
82 bottles of beer
Take one down, pass it around
81 bottles of beer on the wall

81 bottles of beer on the wall
81 bottles of beer
Take one down, pass it around
80 bottles of beer on the wall

80 bottles of beer on the wall
80 bottles of beer
Take one down, pass it around
79 bottles of beer on the wall

79 bottles of beer on the wall
79 bottles of beer
Take one down, pass it around
78 bottles of beer on the wall

78 bottles of beer on the wall
78 bottles of beer
Take one down, pass it around
77 bottles of beer on the wall

77 bottles of beer on the wall
77 bottles of beer
Take one down, pass it around
76 bottles of beer on the wall

76 bottles of beer on the wall
76 bottles of beer
Take one down, pass it around
75 bottles of beer on the wall

75 bottles of beer on the wall
75 bottles of beer
Take one down, pass it around
74 bottles of beer on the wall

74 bottles of beer on the wall
74 bottles of beer
Take one down, pass it around
73 bottles of beer on the wall

73 bottles of beer on the wall
73 bottles of beer
Take one down, pass it around
72 bottles of beer on the wall

72 bottles of beer on the wall
72 bottles of beer
Take one down, pass it around
71 bottles of beer on the wall

71 bottles of beer on the wall
71 bottles of beer
Take one down, pass it around
70 bottles of beer on the wall

70 bottles of beer on the wall
70 bottles of beer
Take one down, pass it around
69 bottles of beer on the wall

69 bottles of beer on the wall
69 bottles of beer
Take one down, pass it around
68 bottles of beer on the wall

68 bottles of beer on the wall
68 bottles of beer
Take one down, pass it around
67 bottles of beer on the wall

67 bottles of beer on the wall
67 bottles of beer
Take one down, pass it around
66 bottles of beer on the wall

66 bottles of beer on the wall
66 bottles of beer
Take one down, pass it around
65 bottles of beer on the wall

65 bottles of beer on the wall
65 bottles of beer
Take one down, pass it around
64 bottles of beer on the wall

64 bottles of beer on the wall
64 bottles of beer
Take one down, pass it around
63 bottles of beer on the wall

63 bottles of beer on the wall
63 bottles of beer
Take one down, pass it around
62 bottles of beer on the wall

62 bottles of beer on the wall
62 bottles of beer
Take one down, pass it around
61 bottles of beer on the wall

61 bottles of beer on the wall
61 bottles of beer
Take one down, pass it around
60 bottles of beer on the wall

60 bottles of beer on the wall
60 bottles of beer
Take one down, pass it around
59 bottles of beer on the wall

59 bottles of beer on the wall
59 bottles of beer
Take one down, pass it around
58 bottles of beer on the wall

58 bottles of beer on the wall
58 bottles of beer
Take one down, pass it around
57 bottles of beer on the wall

57 bottles of beer on the wall
57 bottles of beer
Take one down, pass it around
56 bottles of beer on the wall

56 bottles of beer on the wall
56 bottles of beer
Take one down, pass it around
55 bottles of beer on the wall

55 bottles of beer on the wall
55 bottles of beer
Take one down, pass it around
54 bottles of beer on the wall

54 bottles of beer on the wall
54 bottles of beer
Take one down, pass it around
53 bottles of beer on the wall

53 bottles of beer on the wall
53 bottles of beer
Take one down, pass it around
52 bottles of beer on the wall

52 bottles of beer on the wall
52 bottles of beer
Take one down, pass it around
51 bottles of beer on the wall

51 bottles of beer on the wall
51 bottles of beer
Take one down, pass it around
50 bottles of beer on the wall

50 bottles of beer on the wall
50 bottles of beer
Take one down, pass it around
49 bottles of beer on the wall

49 bottles of beer on the wall
49 bottles of beer
Take one down, pass it around
48 bottles of beer on the wall

48 bottles of beer on the wall
48 bottles of beer
Take one down, pass it around
47 bottles of beer on the wall

47 bottles of beer on the wall
47 bottles of beer
Take one down, pass it around
46 bottles of beer on the wall

46 bottles of beer on the wall
46 bottles of beer
Take one down, pass it around
45 bottles of beer on the wall

45 bottles of beer on the wall
45 bottles of beer
Take one down, pass it around
44 bottles of beer on the wall

44 bottles of beer on the wall
44 bottles of beer
Take one down, pass it around
43 bottles of beer on the wall

43 bottles of beer on the wall
43 bottles of beer
Take one down, pass it around
42 bottles of beer on the wall

42 bottles of beer on the wall
42 bottles of beer
Take one down, pass it around
41 bottles of beer on the wall

41 bottles of beer on the wall
41 bottles of beer
Take one down, pass it around
40 bottles of beer on the wall

40 bottles of beer on the wall
40 bottles of beer
Take one down, pass it around
39 bottles of beer on the wall

39 bottles of beer on the wall
39 bottles of beer
Take one down, pass it around
38 bottles of beer on the wall

38 bottles of beer on the wall
38 bottles of beer
Take one down, pass it around
37 bottles of beer on the wall

37 bottles of beer on the wall
37 bottles of beer
Take one down, pass it around
36 bottles of beer on the wall

36 bottles of beer on the wall
36 bottles of beer
Take one down, pass it around
35 bottles of beer on the wall

35 bottles of beer on the wall
35 bottles of beer
Take one down, pass it around
34 bottles of beer on the wall

34 bottles of beer on the wall
34 bottles of beer
Take one down, pass it around
33 bottles of beer on the wall

33 bottles of beer on the wall
33 bottles of beer
Take one down, pass it around
32 bottles of beer on the wall

32 bottles of beer on the wall
32 bottles of beer
Take one down, pass it around
31 bottles of beer on the wall

31 bottles of beer on the wall
31 bottles of beer
Take one down, pass it around
30 bottles of beer on the wall

30 bottles of beer on the wall
30 bottles of beer
Take one down, pass it around
29 bottles of beer on the wall

29 bottles of beer on the wall
29 bottles of beer
Take one down, pass it around
28 bottles of beer on the wall

28 bottles of beer on the wall
28 bottles of beer
Take one down, pass it around
27 bottles of beer on the wall

27 bottles of beer on the wall
27 bottles of beer
Take one down, pass it around
26 bottles of beer on the wall

26 bottles of beer on the wall
26 bottles of beer
Take one down, pass it around
25 bottles of beer on the wall

25 bottles of beer on the wall
25 bottles of beer
Take one down, pass it around
24 bottles of beer on the wall

24 bottles of beer on the wall
24 bottles of beer
Take one down, pass it around
23 bottles of beer on the wall

23 bottles of beer on the wall
23 bottles of beer
Take one down, pass it around
22 bottles of beer on the wall

22 bottles of beer on the wall
22 bottles of beer
Take one down, pass it around
21 bottles of beer on the wall

21 bottles of beer on the wall
21 bottles of beer
Take one down, pass it around
20 bottles of beer on the wall

20 bottles of beer on the wall
20 bottles of beer
Take one down, pass it around
19 bottles of beer on the wall

19 bottles of beer on the wall
19 bottles of beer
Take one down, pass it around
18 bottles of beer on the wall

18 bottles of beer on the wall
18 bottles of beer
Take one down, pass it around
17 bottles of beer on the wall

17 bottles of beer on the wall
17 bottles of beer
Take one down, pass it around
16 bottles of beer on the wall

16 bottles of beer on the wall
16 bottles of beer
Take one down, pass it around
15 bottles of beer on the wall

15 bottles of beer on the wall
15 bottles of beer
Take one down, pass it around
14 bottles of beer on the wall

14 bottles of beer on the wall
14 bottles of beer
Take one down, pass it around
13 bottles of beer on the wall

13 bottles of beer on the wall
13 bottles of beer
Take one down, pass it around
12 bottles of beer on the wall

12 bottles of beer on the wall
12 bottles of beer
Take one down, pass it around
11 bottles of beer on the wall

11 bottles of beer on the wall
11 bottles of beer
Take one down, pass it around
10 bottles of beer on the wall

10 bottles of beer on the wall
10 bottles of beer
Take one down, pass it around
9 bottles of beer on the wall

9 bottles of beer on the wall
9 bottles of beer
Take one down, pass it around
8 bottles of beer on the wall

8 bottles of beer on the wall
8 bottles of beer
Take one down, pass it around
7 bottles of beer on the wall

7 bottles of beer on the wall
7 bottles of beer
Take one down, pass it around
6 bottles of beer on the wall

6 bottles of beer on the wall
6 bottles of beer
Take one down, pass it around
5 bottles of beer on the wall

5 bottles of beer on the wall
5 bottles of beer
Take one down, pass it around
4 bottles of beer on the wall

4 bottles of beer on the wall
4 bottles of beer
Take one down, pass it around
3 bottles of beer on the wall

3 bottles of beer on the wall
3 bottles of beer
Take one down, pass it around
2 bottles of beer on the wall

2 bottles of beer on the wall
2 bottles of beer
Take one down, pass it around
1 bottles of beer on the wall

1 bottle of beer on the wall
1 bottle of beer
Take one down, pass it around
0 bottle of beer on the wall